body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#topbar {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #000 0 0 3px;
    position: sticky;
    top: 0px;
    left: 0px;
}

#content {
    padding-top: 10px;
}

.card {
    margin: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #eee;
    filter: drop-shadow(#000 0 0 2px);
    transition: all .125s ease-in-out;
}

.card:hover {
    background-color: #ddd;
}

.card_title {
    font-size: 1.6rem;
}

